body{
    padding: 0px;
    margin: 0px;
}
.header
{
    background-color: #262626;
    width: 100%;
    height: 150px;
               
}
.header-text
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: white;
                
}

.menu-head
{
    position: relative;
    left: 800px;
    top: 3px;
}


.menu-parent
{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 170px;
    top: 30px;
}

.menu
{
    text-decoration: none;
    color: #808080;
    padding: 5px;
    
}
.menu:hover
{
    color: white;
    transition: 1s;
}
.menu-signIn
{
    
    padding: 15px;
    background-color: #4d4d4d;
    border-radius: 5px;
}
.menu-signIn:hover
{
    background-color: #8c8c8c;
}
.second-menu
{
    background-color: #f2f2f2;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 150px;
    
}

.second-menu-link
{
    text-decoration: none;
    color: #808080;
    padding: 3px;
}