body
{
    padding: 0px;
    margin: 0px;
}

.container
{
    position: relative;
    top: 50px;
    display: flex;
    justify-content: space-around;
}

.container-left
{
    margin-left: -100px;
}
.container-right
{
    margin-right: -50px;

}

.menu-item
{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    padding: 15px;
   
}

.header-text
{
    font-family: cursive;
    font-size: 25px;
    font-weight: bold;


}

.btn-signup
{
    background-color: #f2f2f2;
    width: 35px;
    height: 20px;
    border-radius: 5px;
    
}

.btn-Hire-Creatives
{
    background-color: black;
    font-size: 15px;;
    width: 35px;
    height: 20px;
    color: white;
    border-radius: 5px;
}

.pick-header
{
    display: flex;
   position: absolute;

}

.blog-pick
{
    border-radius: 50%;
   position: relative;
    left: 330px;
    top: 120px;
    
}
.blog-name
{
    font-size: 20px;
    font-weight: bold;
   position: relative;
    top: 90px;
    left: 350px;
   
}

.blog-name-text
{
   
    position: relative;
    top: 115px;
    left: 210px;
    
}

.btn-save
{
    background-color: #e6e6e6;
    font-size: 15px;
    height: 50px;
    width: 70px;
    border: none;
    border-radius: 10px;
    position: relative;
    top: 125px;
    left: 500px;

    
}
.btn-like
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    background-color: #ff33ff;
    font-size: 15px;
    height: 50px;
    width: 70px;
    border: none;
    border-radius: 10px;
    position: relative;
    top: 125px;
    left: 510px;
    color: white;
  
}

.pick-right
{
   
    position: relative;
   left: 1450px;
   top: 140px;
}

.template
{
   
    position: relative;
    left: 220px;
    top: 10px;
    border-radius: 10px;
    
}

@media screen and (min-width:300px) and (max-width:768px)
{
    .container
{
    
    display: flex;
    flex-direction: row;
}

.container-right
{
    margin-right: 100px;

}

.menu-item
{
    font-size: 10px;
    padding: 15px;
   
}

.header-text
{
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: -50px;;

}

.btn-signup
{
    background-color: #f2f2f2;
    width: 8px;
    height: 10px;
    border-radius: 5px;
    
}

.btn-Hire-Creatives
{
    background-color: black;
    font-size: 8px;;
    width: 7px;
    height: 10px;
    color: white;
    border-radius: 5px;
}


}
    
