body
{
    padding: 0px;
    margin: 0px;
}

.card-container-header
{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 50px;
}

.card-container
{
    background-image: url('./../images-blog/pick4.jpg');
    background-size: 600px 450px;
    height: 400px;
    width: 450px;
    border-radius: 10px;

}
.card-details
{
    background-image: url('./../images-blog/pick2.jpg');
    background-size: 600px 450px;
    height: 380px;
    width: 430px;
    border-radius: 10px;
    align-items: center;
    margin: 10px;

}

.card-img
{
    
    position: relative;
    top: 40px;
    padding: 5px;      
}
.card-text-header
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: white;
    position: relative;
    top: 30px;
    
}

.card-text
{
    margin: 10px;
    color: white;
    position: relative;
    top: 13px;
}

.btn-more
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    border: none;
    height: 40px;
    width: 100px;
    background-color: blue;
    color: white;
    margin: 5px;
    border-radius: 5px;
}