*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
 font-family: 'Poppins', sans-serif;
}
 
 .row-1{
 display: flex;
 align-items: center;
 flex-wrap: nowrap;
 justify-content: space-around;
 background: linear-gradient(rgb(208, 129, 183),#709ad1);
 width:100%;
 margin-left: 0px;
 margin-right: 0px;
 }
 .col-1{
 margin-left: 30px;
 }
 .col-2 img{
     height: 400px;
     padding: 40px;
 }
 .col-1 h1{
     font-size: 50px;
     line-height: 60px;
     margin: 25px 0;
 }
 .btn{
    display: inline-block;
    background-color: rgb(78, 35, 97);
    color: white;
    padding: 8px 30px;
    margin:30px 0;
    border-radius: 30px;
    text-decoration: none;
    }
.btn:hover{
    background-color: black;
    border-radius: 30px;
    transition: 1s;
}

.row-2{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
h2{
    margin:20px;
}
.row-2col{
    width: 43%;
    height: 350px;
    margin-top: 30px;
    margin-bottom: 65px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.row-2col:hover{
    border-radius: 20px;
    transition: 1.5s;
}
#img1{ 
    background-image: url("./../Images/womens.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}
#img2{ 
    background-image: url("./../Images/mens2.webp");
    background-size: 100% auto;
    background-repeat: no-repeat;
}
#img3{ 
    background-image: url("./../Images/kids.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}
#img4{ 
    background-image: url("./../Images/spe.webp");
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.row-2col h3{
    position: relative;
    top:-12%;
    text-align: center;
    margin-top: 10px;
}
.row-2 a{
    position: relative;
    background-color: rgb(78, 35, 97);
    color: white;
    padding: 7px;
    border-radius: 2rem;
    position: relative;
    bottom: -94%;
    left: 40%;
    text-decoration: none;
}
.row-2 a:hover{
    background-color: black;
    transition: 1.5s;
}
#row3img1{ 
    background-image: url("./../Images/sales\ on\ womens.webp");
    background-size: 100% auto;
    background-repeat: no-repeat;
}
#row3img2{ 
    background-image: url("./../Images/sale\ on\ mens.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.row-3{
    width: 100%;
}
.row-3col{
width: 98%;
height: 560px;
margin: auto;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
margin: 20px;
}

@media(max-width:576px) {
    .row-1{
        width: 100%;
        flex-wrap: wrap;
    }
    .col-1{
        font-size: 20px;
        margin-left: 10px;
    }
    .col-1 h1{
        font-size: 30px;
    }
    .col-2 img{
        height: 210px;
        padding: 10px;
    }
        .row-2{
            width: 100%;
        }
        .row-2col{
            width: 80%;
            height: 200px;
        }
        .row-2col h3{
            top: -23%;
            text-align: center;
        }
        .row-2col a{
            margin: auto;
        }
        .row-3{
            width: 100%;
        }
        .row-3col{
            width: 90%;
            height: 150px;
            margin-bottom: 20px;
        }
           
}