*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.row{
display: flex;
align-items: center;
flex-wrap: wrap;
justify-content: space-around;
}
.col-1{
flex-basis: 50%;
min-width: 300px;
}
.col-2 img{
    height: 400px;
    padding: 50px;
}
.col-1 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
