body{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding: 8px;
    background-color: white;
}
.parent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    margin-top: none;
    padding: 5px;
    margin-bottom: 0px;
    text-align: center;
    margin-top: 20px;
}
.child{
    border-radius: 10px;
    color: white;
    text-align : center; 
}
.img:hover
{
    height: 103px;
    width: 103px;
    transition: 0.5s;
    background-color: #a6a6a6;
}
.promo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
}
.promo-child{
 background-color: #d9d9d9;
 padding: 15px;
 font-size: 20px;
 width: 465px;
 height: 130px;
 position: relative;
 border: 1px solid black;
}
.promo-child:hover{
    box-shadow: 0px 1px 10px 1px;
}
.promo-text{
    position: absolute;
    bottom: 110px;
    color: #4d0000;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
.promo-img{
    height: 130px;
    width: 130px;
    margin-left: 0px;
}
.promo-imga{
    height: 130px;
    width: 130px;
    position: absolute;
    bottom: 1px;  
    right: 60px;
}
.promo-imga1{
    height: 200px;
    width: 150px;
    position: absolute;
    top: 1px;  
    right: 30px;
}
.promo-imga2{
    height: 150px;
    position: absolute;
    top: 5px;  
    right: 30px;
    }
    .home-card{
        margin-top: 40px;
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        flex-wrap: wrap;
        padding: 10px;
    }
    .home-card-child{
        text-align: center;
        position: relative;
    }
.card{
   height: 280px;
   border: solid 1px #d9d9d9;
   border-radius: 5px;
}
.card1{
height: 565px;
border: solid 1px #d9d9d9;
   border-radius: 5px;
}
.card1:hover{
  height: 585px;
  box-shadow: 0px 0px 5px 2px;
    border-radius: 10px;
    transition: 0.5s;
}
.row{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-text{
    position: absolute;
    font-size: 40px;
    font-family: serif;
    position: absolute;
    top: 2px;
    left: 70px;
}
.phone-card1{
    width: 490px;
    height: 300px;
    border: solid 1px #d9d9d9;
   border-radius: 5px;
}
.phone-card1:hover{
    height: 340px;
    width: 530px;
    box-shadow: 0px 0px 5px 2px;
    border-radius: 10px;
    transition: 0.5s;
}
.phone-card{
    font-size: 30px;
    font-family: serif;
    position: absolute;
    left: 6px;
    bottom: 1px;
}
.card-text1{
    font-size: 25px;
    font-family: serif;
    position: absolute;
    top: 2px;
    left: 40px;
}
.phone-text1{
    font-size: 28px;
    font-family: serif;
    position: absolute;
    top: 0px;
    left: 15px;   
}
.card:hover{
    height: 300px;
    box-shadow: 0px 0px 5px 2px;
    border-radius: 10px;
    transition: 0.5s;
}
.end{
    display: block;
   
    text-align: center;
    position: fixed;
    bottom: 10px;
    left: 1px;
    padding: 5px;
}

.video{
    text-align: center;
}

.phone{
    position: relative;
    margin-top: 20px;
    text-align: center;
}
.phonex{
 height: 800px;
 border-radius: 10px;
 box-shadow: 0px 0px 5px 3px;
}
.phonex-text{
    position: absolute;
    top: 40px;
    left: 380px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: firebrick;
}
.phone-parent{
    display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 3px;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 10px;
}
.phone-child{
   border: solid 3px black;
   border-radius: 10px;
   width: 300px;
   position: relative;
   margin-top: 10px;
}
.phone-img{
    margin-top: 20px;
    height: 350px;
}
.phone-img1{
    margin-top: 20px;
    height: 350px;
    width: 260px;
}
.phone-text{
    text-align: center;
}
.btn{
    height: 50px;
    width: 150px;    
}
.btn:hover{
    background-color: darkgray;
    border: 0.3px;
}
.share{
    position: absolute;
    right: 10px;
    top: 35px;
    height: 25px;
}
.like{
    position: absolute;
    right: 10px;
    top: 80px;
    height: 25px;
}
.lapt-img{
    margin-top: 40px;
    height: 350px;
    width: 420px;
}
.lapt-child{
    border: solid 3px black;
    border-radius: 10px;
    width: 420px;
    position: relative;
    margin-top: 20px;
}
.btn1{
    height: 50px;
    width: 210px;
    margin-bottom: 0px;   
}
.btn1:hover{
    background-color: darkgray;
    border: 0.3px;
}
.lapt-text{
    position: absolute;
    top: 30px;
    right: 220px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: firebrick; 
}
.head{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    color: darkblue ;
    text-align: center;
}
.sub-head{
    text-align: center;
}
.camera-parent{
    position: relative;
    background-color: #a6a6a6;
    margin-top: 20px;
    border-radius: 12px;
    height: 350px;
}
.camera1{
    position: relative;
    height: 300px;
    right: 10px;
    top: 10px;
}
.camera2{
    position: relative;
    height: 300px;
    left: 10px;
    top: 10px;
}
.camera3{
    position: relative;
    height: 300px;
    left: 20px;
    top: 10px;
}
.camera-text{
    position: absolute;
    top: 30px;
    right: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    color: brown;
}
@media  screen and (max-width: 576px)
{
    .phone-text{
        font-size: 15px;
    }
    .parent{
        width: 100%;
        flex-direction: row;
        padding: 7px;
    }
    .child{
        width: 10%;
        margin-bottom: 1px;
        text-align: center;
    }
    .img{
        height: 75%;
        width: 75%;
        padding: 1px;
    }
    .img:hover{
        height: 76%;
        width: 76%;
    }
    .text{
        font-size: 12px;
    }
    .promo-child{
        margin-top: 10px;
    }
    .promo-img{
        height: 60%;
    }
    .card{
      width: 90%; 
      height: 90%; 
    }
    .card1{
        width: 90%;
        height: 90%;
    }
    .card:hover{
        width: 95%;
        height: 95%
    }
    .card1:hover{
        width: 95%;
        height: 95%
    }
    .row{
        flex-direction: row;
        justify-content: space-around;
    }
    .card-text{
        font-size: 30px;
        top: 1px;
        left: 20px;
    }
    .card-text1{
        font-size: 18px;
        left: 15px;
    }
    .lapt-child{
        margin-top: 20px;
        width: 95%;
    }
    .phone-child{
        margin-top: 20px;
    }
    .head{
      font-size: 20px;
    }
    .sub-head{
        font-size: 15px;
    }
    .phonex{
     height: 90%;
     width: 90%;
    }
    .lapt-text{
     font-size: 20px;
     top: 5px;
     right: 15px;
    }
    .phonex-text{
        font-size: 20px;
        top: 10px;
        left: 30px;
    }
    .phone-card{
        font-size: 20px;
        top: 1px;
    }
    .phone-text1{
        font-size: 15px;
        top: 2px;
        left: 20px;
    }
    .lapt-img{
        height: 90%;
        width: 90%;
        text-align: center;
    }
    .btn1{
        width: 50%;
        margin-bottom: 0px; 
        font-size: 15px;
    }
    .camera-text{
        font-size: 20px; 
        top: 5px;
        left: 5px;
    }
    .camera-parent{
        padding: 10px;
    }
    .camera1{
        height: 40%;
    }
    .camera2{
        height: 40%;
        top: 30px;
    }
    .camera3{
        height: 50%;
        top: 25px;
    }
     
}
@media screen and (min-width:577px) and (max-width: 830px)
{
    .parent{
        width: 100%;
        flex-direction: row;
        padding: 5px;
    }
    .child{
        width: 12%;
        margin-bottom: 1px;
        text-align: center;
    }
    .img{
        height: 75%;
        width: 75%;
        padding: 1px;
    }
    .img:hover{
        height: 76%;
        width: 76%;
    }
    .text{
        font-size: 18px;
    }
    .promo-child{
        margin-top: 10px;
    }
    .promo-img{
        height: 60%;
    }
    .card{
      width: 90%; 
      height: 90%; 
    }
    .card1{
        width: 90%;
        height: 90%;
    }
    .card:hover{
        width: 95%;
        height: 95%
    }
    .card1:hover{
        width: 95%;
        height: 95%
    }
    .row{
        flex-direction: row;
        justify-content: space-around;
    }
    .card-text{
        font-size: 30px;
        top: 1px;
        left: 20px;
    }
    .card-text1{
        font-size: 18px;
        left: 15px;
    }
    .lapt-child{
        margin-top: 20px;
        width: 95%;
    }
    .phone-child{
        margin-top: 20px;
    }
    .btn{
        height: 50px;
        width: 50%;
        margin-bottom: 0px; 
        font-size: 20px; 
    }
    .head{
      font-size: 40px;
    }
    .sub-head{
        font-size: 25px;
    }
    .phonex{
     height: 70%;
     width: 70%;
    }
    .lapt-text{
     font-size: 28px;
     top: 5px;
     right: 40px;
    }
    .phonex-text{
        font-size: 30px;
        top: 10px;
        left: 110px;
    }
    .phone-card{
        font-size: 20px;
        top: 1px;
    }
    .phone-text1{
        font-size: 25px;
        top: 2px;
        left: 50px;
    }
    .lapt-img{
        height: 90%;
        width: 90%;
        text-align: center;
    }
    .btn1{
        height: 50px;
        width: 50%;
        margin-bottom: 0px; 
        font-size: 22px;
    }
    .camera-text{
        font-size: 30px; 
        top: 5px;
        left: 5px;
    }
    .camera-parent{
        padding: 10px;
    }
    .camera1{
        height: 60%;
    }
    .camera2{
        height: 60%;
        top: 30px;
    }
    .camera3{
        height: 70%;
        top: 25px;
    }
    .phone-text{
        font-size: 20px;
    }
     
}
@media screen and (min-width: 810px) and (max-width: 1300px)
{
    .parent{
        width: 100%;
        flex-direction: row;
        padding: 5px;
    }
    .child{
        width: 12%;
        margin-bottom: 1px;
        text-align: center;
    }
    .img{
        height: 75%;
        width: 75%;
        padding: 1px;
    }
    .img:hover{
        height: 76%;
        width: 76%;
    }
    .text{
        font-size: 20px;
    }
    .promo-child{
        margin-top: 10px;
    }
    .promo-img{
        height: 60%;
    }
    .card{
      width: 90%; 
      height: 90%; 
    }
    .card1{
        width: 90%;
        height: 90%;
    }
    .card:hover{
        width: 95%;
        height: 95%
    }
    .card1:hover{
        width: 95%;
        height: 95%
    }
    .row{
        flex-direction: row;
        justify-content: space-around;
    }
    .card-text{
        font-size: 40px;
        top: 1px;
        left: 20px;
    }
    .card-text1{
        font-size: 25px;
        left: 15px;
    }
    .lapt-child{
        margin-top: 30px;
        
    }
    .phone-child{
        margin-top: 20px;
    }
    .head{
      font-size: 50px;
    }
    .sub-head{
        font-size: 35px;
    }
    .phonex{
     height: 90%;
     width: 90%;
    }
    .lapt-text{
     font-size: 35px;
     top: 5px;
     right: 40px;
    }
    .phonex-text{
        font-size: 40px;
        top: 10px;
        left: 50px;
    }
    .phone-card{
        font-size: 30px;
        top: 1px;
    }
    .phone-text1{
        font-size: 35px;
        bottom: 2px;
        left: 30px;
    }
    .lapt-img{
        height: 90%;
        width: 90%;
        text-align: center;
    }
    .btn1{
        height: 50px;
        width: 50%;
        margin-bottom: 0px; 
        font-size: 22px;
    }
    .camera-text{
        font-size: 40px; 
        top: 5px;
        left: 5px;
    }
    .camera-parent{
        padding: 10px;
    }
    .camera1{
        height: 60%;
    }
    .camera2{
        height: 60%;
        top: 30px;
    }
    .camera3{
        height: 70%;
        top: 25px;
    }
    .phone-text{
        font-size: 25px;
    }
     
}