
 #main-1{
    padding-left: 125px;
   
    background-image: url("./../images/gym images/firstmain.jpg");
    background-position: right;
    background-size: 700px;
    background-repeat: no-repeat;
 }
 #Health{
    padding-left: 125px;
   
    background-image: url("./../images/gym images/health.webp");
    background-position: right;
    background-size: 750px;
    background-repeat: no-repeat;
    background-color: rgb(11, 9, 9);
 }

.main{
    height: 450px;
    width: 1400px;
   border: solid 1px black;
   background-image: url("./../images/gym images/fitnessandhealth.jpg" );
   background-size:1520px 600px;
   color: white;
   font-size: 70px;
   padding-left: 125px;
   padding-right: -10px;
   padding-top: 50px;
   background-color: black;
   margin-top: -10px;
   margin-right: -100px;
}
.main-text{
    font-style: italic;
    font-size: 40px;
    margin-left: 200px;
    color: rgb(162, 163, 164);
}
.main-text1{
font-size: 18px;
margin-left: 130px;
color: rgb(87, 88, 88);
}
.gym-container{
    background-color:white;
    height: 530px;
    width: 320px;
    border-radius: 10px; 
    margin-top: 50px;
    border: 1px solid rgb(152, 148, 148); 
    margin-left: 50px;
}
.flexbox{
    display: flex;
}

.image-consonantiam{
    height:300px;
    width:300px;
    border-radius: 10px;
}
.image-consonantiam:hover{
    height:315px;
    width:320px;
    border-radius: 10px; 
}
body{
    background-color: rgb(244, 244, 247);
}

#cost-size1{
 margin-left: 20px;  
}
.cost-size{
    color: rgb(15, 15, 15);
    }
    .Delivery-free{
        font-size: 14px;   
    }
    .cost-size2{
        font-size: 20px;
       margin-top: px;
    }
    
    .btn-1{
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 2px;
        border: solid 1px rgb(241, 158, 55);
        border-radius: 5px;
    }
    .btn-1:hover{
        background-color: rgb(231, 170, 28);
        border-radius: 5px;
        border: solid 1px;
    }
    .btn{
        margin-left: 20px;
        background-color: rgb(255, 251, 251);
    }
    .btn-a{
        background-color: rgb(225, 138, 30);
    }
    
    .btn-showmore {
        text-decoration: none;
        background-color:rgb(248, 131, 15);
        color: rgb(255, 249, 249);
        margin-left: 650px;
        margin-top: 300px;
        margin-bottom: 400px;
        padding: 3px;
        padding-left: 80px;
        padding-right: 80px;
        border-radius: 5px;  
    }

    .btn-showmore:hover{
        background-color: rgb(90, 78, 78);
        color: aliceblue;
        border-radius: 5px;
        transition: 1s;
    }
    .div-showmore{
       
        height: 80px;
        padding-top: 40px;
    }
