    .body {
        background-color: white;
        margin: 0;
    }

    .banner-text {
        border: none;
        height: 500px;
        width: 100%;
        background-image: url('../Images/dish-with-delicious-crepes.jpg');
        background-size: cover;
        background-position: center;
        position: relative;

    }

    .image {
        /* background-image: url('../Images/spices-removebg-preview.png');
            background-size: cover;  */
        background-image: url("../Images/spices-removebg-preview.png");
        background-size: cover;
        background-repeat: no-repeat;
        width: 30%;
        height: 350px;
        position: absolute;
        right: 30%;
        top:60%;

    }
    .h5 {
        font-size: 24px;
        text-transform: capitalize;
        color: #ff6426;
        font-style: italic;
        font-weight: 400;
        font-family: "Lora", serif;

    }

    .h1 {
        font-size: 53px;
        font-family: "Cardo", serif;
        font-weight: 700;
        margin-top: -30px;
        margin-bottom: 15px;
        line-height: 1.273;
    }

    .p {
        font-family: "Lora", serif;
        line-height: 1.7;
        font-size: 15px;
        margin-bottom: 15px;
        color: #555555
    }

    .header-btn {
        background-color: #f63b1a;
        border: 1px solid transparent;
        color: #fff;
        line-height: 42px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 25px;
        border: none;
        color: #fff;
        text-transform: uppercase;
        font-weight: 500px;
    }

    .menu {

        position: relative;
        margin-bottom: 50px;
        margin-top: 200px;
    }

    .menu-p {
        color: #555555;
        font-size: 18px;
        margin-bottom:-20px;
    }

    .menu-h2 {
        font-size: 40px;
        color: #2c3033;
        line-height: 1.25;
        font-weight: 700;
        position: relative;
    }
    .menu-container
    {
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
       
    }

    .menu-item {

        margin: 10px;
        padding: 30px;
        width: 30%;
        display: inline-block;
        border: solid 2px rgb(186, 182, 182);
        border-radius: 30px 30px 180px 30px;
    }
    .menu-item-h3
    {
        font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    }
    .menu-item-p
    {
        font-family: "Lora", serif;
    line-height: 1.7;
    font-size: 15px;
    margin-bottom: 7px;
    color: #555555;
    display: block;
    }
    .menu-item-btn
    {
        background-color: #f63b1a;
        border-radius: 25px;
        font-weight: 500px;
        padding: 8px;
        color: #fff;
        border: none;

    }
    .container
     {
        display: flex;
        align-items: center;
        margin-top: 60px;
        margin-left: 90px;
    }
    .col-2
    {
        height: 500px;
        width: 500px;
    }
    .col-3
    {
        margin-left: 90px;
    }
    .col-3 h5 {
        font-family: "Lora", serif;
        font-size: 16px;
        color: #555555;
        margin-bottom: 18px;
    }

    .col-3 h2 {
        line-height: 1.25;
        margin-bottom: 25px;
        font-size: 40px;
    }

    .col-3 h4 {
        margin-bottom: 25px;
        color: #ff6426;
        font-size: 24px;
        font-weight: 300;
    }

    .col-3 p {
        margin-top: 13px;
        font-family: "Lora", serif;
        line-height: 1.7;
        font-size: 15px;
        margin-bottom: 0px;
        color: #555555;

    }
    .section-title p {
        color: #555555;
        font-size: 16px;
        font-family: "Lora", serif;
        margin-bottom: 5px;
    }

    .section-title h2 {
        font-size: 40px;
        color: #2c3033;
        line-height: 1.25;
        font-weight: 700;
        margin-top: 2px;
        position: relative;
        font-family: "cardo", serif;

    }

    .header {

        padding: 50px;
    }

    .nav {
        list-style-type: none;
        margin-left: 250px;
        padding: 0;
    }

    .nav-li {
        display: inline;
    }

    .nav-li-a {
        color: black;
        text-decoration: none;
        padding: 25px;
        font-size: 20px;
    }

    .container-menu {
        display: flex;
        margin-top: 170px;
    }

    .menu-item-1
    {   display: inline-block;
        width: 90%;
        margin-top: 40px;
        margin-left: 70px;
        display: flex;
        flex-wrap: wrap;
    }
    .menu-type 
    {
        width: 40%;
        display: flex;
        margin: auto;
        border:none;
        background-color: #eaeaeb;
        margin: 20px;
    
        
    }
    .img-1
     {
        height: 150px;
        width: 150px;
    
    }

    .para {
        display: inline-block;
        margin-left: 50px;
    }

    .team {
        padding: 50px;
        text-align:left;
    }
    .team-p
    {
        color: #555555;
        font-size: 18px;
        margin-bottom:-20px;
    }
    .team-h2
    {
        font-size: 40px;
        color: #2c3033;
        line-height: 1.25;
        font-weight: 700;
        position: relative;
    }
    .team-container
    {
        width: 90%;
        margin:auto;
        display: flex;
        justify-content: space-between;
    }
    
    .team-item {
        display: inline-block;
        margin: 10px;
        padding: 30px;
        width: 30%;
        border: solid 2px rgb(186, 182, 182);
        border-radius: 30px 30px 180px 30px;
        text-align: center;
    }

    .team-item-img {
        width: 350px;
        height: 350px;
     }
     .team-h3
     {
        font-size: 24px;
    font-weight: 700;
    margin-bottom: -5px;
     }
     .team-p1
     {
     font-family: "Lora", serif;
    line-height: 1.7;
    font-size: 15px;
     color: #555555;
     }
     .social-icon
     {
        margin-top: 10px;
        font-size: 18px;
        display:block;
        color: #212529;
      }
   