.ft-img{
    height: 530px;
    width: 1370px;
    margin-right:auto;
    margin-left: auto;
    margin-top: 30px;
}


.p{
    color: rgb(11, 11, 11);
    font-size: 40px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
background: linear-gradient(green,yellow);
}
.button{
        font-size: 17px;
        display: inline-block;
        background-color: white;
        height: 20px;
         width: 100px;
         margin-left: 600px;
    }
    .but{
         font-size: 17px;
         display: inline-block;
         background-color: white;
         height: 20px;
         width: 100px;
    }
    .r{
        text-align: center;
        border: solid 1px black;
        border-radius: 2px;
        text-align: center;
        margin-top: 20px;
        background-color: aqua;
    }
    .chappal{
        margin-top: 50px;
        height: 100px;
        
    }
    
    .mer{
        margin-left: 10px;
        height: 450px;
        cursor: pointer;
        display: inline-block;
    }
    .mer:hover{
        border-radius: 8px;
    }
    .sir{
        margin-left: 15px;
    }
    .test{
        margin-top: 353px;
        margin-left: 14px;
        
    }
    .gh{
        font-size: 25px;
    }
    .show{
        color: blue;
        margin-left: 14px;
        padding-top: 10px;
        font-size: 13px;
    }
    .lih{
        margin-left: 178px;
        font-size: 25px;
    }
    
    
    
    .min{
        margin-left: 136px;
        font-size: 25px;
    }
    .man{
        margin-left: 101px;
        font-size: 25px;
    }
    .k{
        
        color: rgb(11, 11, 11);
    font-size: 30px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 80px;
    }
    .k:hover{
        color: rgb(175, 20, 20);
    font-size: 30px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 80px;
    }
    .kite{
        height: 360px;
        margin-left: 10px;
        cursor: pointer;
        display: inline;
    }
    .kite:hover{
        border-radius: 15px;
        animation: 5s;
    }
    
    
    .ket{
        margin-left: 25px;
        
    }
    .cost{
        margin-top: 265px;
    }
    .kl{
        margin-left: 23px;
    }
     .how{
        font-size: 20px;
        margin-left: 20px;
        background-color: rgb(0, 251, 255);
        padding: 3px;
        border-radius: 3px;
        color: blue;
     }
     .del{
        font-size: 15px;
        color: red;
        margin-right: 5px;
     }
     .lihe{
        margin-left: 18px;
        font-size: 17px;
     }
     .hii{
        margin-left: 70px;
     }
     .mine{
        margin-left: 18px;
        font-size: 17px;
     }
     .hiii{
        margin-left: 35px;
     }
     .manty{
        font-size: 17px;
        margin-left: 25px;
     }
     .hiiii{
        margin-left: 01px;
     }
     .bye{
        background-color: #ffff00;
        font-size: 20px;
        margin-left: 90px;
        border-radius: 5px;
        padding: 5px;
        
     }
     .bye:hover{
        background-color: #d0bf79;
        border-radius: 15px;
        cursor: pointer;
        color: #ff0066;
     }
     .by{
        background-color: #ffcc00;
        font-size: 20px;
        margin-left: 30px;
        border-radius: 5px;
        padding: 5px;
        width: 70px;
     }
     .by:hover{
        background-color: #00ff00;
        border-radius: 15px;
        cursor: pointer;
        color: #ff0066;
     }
     .byee{
        margin-left: 140px;
     }
     .byeee{
        margin-left: 130px;
     }
    .kit{
        margin-left: 20px;
    }
    .sirji{
        margin-left: 200px;
    }
    .rahi{
        margin-left: 200px;
    }
    .bi{
        margin-left: 30px;
    }
    .marg{
        margin-left: 270px;
    }
    .margi{
        margin-left: 170px;
    }
    .pic{
        width: 680px;
        margin-left: 50px;
    }
    