body{
    margin: 0;
}
.footer-container{
    width: 100%;
   
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-around;
}
.foot-item{
    width: 20%;
    

}
.foot-logo{
    background-image: url("../Media/logoptm.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 70%;
    height:100px
    
    
}
.block-square{
    display: flex;
}
.foot-item a{
    color: black;
}

.iconss{
    width: 30px;
    height: 30px;
    border: 1px solid black;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.address-text{
    color: black;
    position: relative;
    top: -17px;
    
}
.line{
    color:#CBB26A;
    font-weight: bolder;
    font-size: 20px;
}

.foot-item a{
  
    
    text-decoration: none;
}
.foot-item a pre {
    transition: all 0.3s ease;
}

.foot-item a:hover pre {
    transform: scale(1.1);
    color: #737373 !important; /* Change the color to your desired hover color */
}
.add-head{
    font-size: 18px;
    font-weight: bold;
}

@media(max-width:576px){
    .footer-container{
        width: 100%;
       
        background-color: #f2f2f2;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .eighty{
        width: 70%;
        margin: auto;
    }
    .fifty{
        width: 40%;
    }
    .foot-logo{
        margin: auto;
    }
    

}
@media(min-width:577px) and (max-width:800px)
{
    .footer-container{
        width: 100%;
       
        background-color: #f2f2f2;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .eighty{
        width: 90%;
        margin: auto;
    }
    .fifty{
        width: 40%;
    }
    .foot-logo{
    margin: auto;
    }
    
}



