*{
    margin: 0px;
}
a{
    text-decoration: none;
    color: black;
}
.banner{
    background-image: url("../Media/Copy-of-Unnamed-Design-1.png");
    min-height:80vh ;
    width: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: relative;
    
}
.heading{
    position: relative;
    top: 8rem;
    left: 12rem;
    display: inline-block;
}


.heading button{
    margin-top: 5%;
    padding: 1.1rem;
    border-radius: 50px;
    border: none;
    font-size: 1.7rem;
    color: white;
}
#pink{
    background-color: #fa90d8;
}
#purple{
    background-color: #7046b7;
}

.blazer{
    display: inline-block;
    position: absolute;
    right: 8rem;
  
}
.blazer img{
    height: 33rem;
}
.service_cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    width: 170px;
    height:170px;
    border: none;
   
    margin-left: 1px;
    margin-top: 20px;
    position: relative;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
   
    
    
    
}
.card img{
    transform: rotate(90deg);
    position: relative;
    left: 15%;
    
}
.card a{
    text-decoration: none;
    position: relative;
    left: 20%;
    top: -10%;
    color: #016a0f;
    padding: 5px;
}

#card1 a{
    background-color: #fa90d8;
}
#card2 a{
    background-color: #fafca7;
}
#card3 a{
    background-color: #85ace6;
}
#card4 a{
    background-color: #f8c434;
}
#card5 a{
    background-color: #9657e8;
}
#card6 a{
    background-color: #fb585a;
}

.category{
   
    margin-top: 5% !important;
    width: 70%;
    
    margin: auto;
   
    display: flex;
    flex-wrap: wrap;
    
}
.cat{
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    width:30%;
    height: 190px;
    margin: 10px;
    position: relative;
    border-radius: 5px;
    
}
.set_cat{
    position: absolute;
    top: 60%;
    left: 10%;
}
.set_cat a{
    color: #59647d;  
}
#cat1{
   background-image: url("../Media/glasses-category-img-2.jpg");
   
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
}
#cat2{
   background-image: url("../Media/retail-black-friday-small-banner-4-opt.jpg");
   
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
}
#cat3{
   background-image: url("../Media/retail-black-friday-small-banner-1-opt.jpg");
   
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
}
#cat4{
   background-image: url("../Media/retail-black-friday-small-banner-2-opt.jpg");
   
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
}
#cat5{
   background-image: url("../Media/baner-flat-fashion-7.jpg");
   
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
}
#cat6{
   background-image: url("../Media/glasses-category-img-1.jpg");
   
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
}

@media(min-width:768px){
    .banner h1{
        font-size:45px;
        font-weight: bolder;
    }
}

@media(max-width:576px){
    .heading{
        position: absolute;
        top: 15px;
        left: 30px;
        margin-top: 12px;
    }
    .heading button{
        font-size: 0.8rem;
        border-radius: 1rem;
        padding: 2%;
        border: none;
        color: white;
    
    }

    .banner h2{
        font-size:120%;
        font-weight: 900;
        margin-top: 0.7rem;
        margin-bottom: 0.7rem;
    }

    .category{
        width: 100%;
    }
        .cat{
            width: 100%;
        }

}