.box{
    background-color: rgb(196, 226, 226);
    height: 480px;
    width: 360px;
    border: solid 3px black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-radius: 15px;
}
.pic{
    height: 50px;
    width: 200px;
    margin-left: 75px;
    margin-top: 10px;
    border-radius: 5px;
}
.text{
    color: red;
    margin-left: 38px;
    font-size: 18px;
}
.texts{
    margin-left: 132px;
    margin-top: 80px;
}
.tags{
    margin-left: 50px;
    
}
.tag{
    margin-left: 150px;
    margin-top: 100px;
    
}
.tag:hover{
    color: black;
    background-color: tomato;
}
.boxs{
    width: 100px;
    
}

.ghs{
    margin-left: 5px;
}
.already{
    margin-top: 90px;
    margin-left: 50px;
    color: rgb(23, 23, 27);
    
}
.color{
    color: blue;
}
body{
    background-color:antiquewhite;
}
.forgot{
    margin-left: 50px;
    color: tomato;
}
@media screen and (min-width:300px) and (max-width:567px){
    .box{
        height: 470px;
        width: 350px;
    }
    .already{
        margin-top: 80px;
    }
}