.main{
    height: 450px;
    width: 1500;
   border: solid 1px black;
   
   background-size: 1520px 600px;
   color: white;
   font-size: 70px;
   padding-left: 120px;
   padding-top: 50px;
   background-color: rgb(67, 68, 69);
}


.
body{
    background-color: rgb(244, 244, 247);
}

#cost-size1{
 margin-left: 20px;
    
    
   
}
.cost-size{
    color: rgb(15, 15, 15);
    }
    .Delivery-free{
        font-size: 14px;
        display:;
        
    }
    .cost-size2{
        font-size: 20px;
       margin-top: px;

    }
    
    
    .btn-1{
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 2px;
        border: solid 1px rgb(241, 158, 55);
        border-radius: 5px;
       

    }
    .btn-1:hover{
        background-color: rgb(231, 170, 28);
        border-radius: 5px;
        border: solid 1px;
    }
    .btn{
        margin-left: 20px;
        background-color: rgb(255, 251, 251);
    }
    .btn-a{
        background-color: rgb(225, 138, 30);
    }
    
    .btn-showmore {
        text-decoration: none;
        background-color:rgb(248, 131, 15);
        color: rgb(255, 249, 249);
        margin-left: 720px;
        margin-top: 300px;
        margin-bottom: 400px;
        padding: 3px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 5px;
        
    }

    .main{
    height: 450px;
    width: 1500;
   border: solid 1px black;
   background-image: url("./../images/gym images/fitnessandhealth.jpg" );
   background-size: 1520px 600px;
   color: white;
   font-size: 70px;
   padding-left: 120px;
   padding-top: 50px;
   background-color: rgb(67, 68, 69);
}
.main-text{
    font-style: italic;
    font-size: 40px;
    margin-left: 200px;
    color: rgb(162, 163, 164);
}
.main-text1{
font-size: 18px;
margin-left: 130px;
color: rgb(87, 88, 88);
}
.gym-container{
    background-color:white;
    height: 530px;
    width: 320px;
    border-radius: 10px; 
    margin-top: 50px;
    border: 1px solid rgb(152, 148, 148); 
    margin-left: 60px;
}

.image-consonantiam{
    height:300px;
    width:319px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    
}
.image-consonantiam:hover{
    height:300px;
    width:319px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    
}

body{
    background-color: rgb(244, 244, 247);
}

#cost-size1{
 margin-left: 20px;
    
    
   
}
.cost-size{
    color: rgb(15, 15, 15);
    }
    .Delivery-free{
        font-size: 14px;
        display:;
        
    }
    .cost-size2{
        font-size: 20px;
       margin-top: px;

    }
    
    
    .btn-1{
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 2px;
        border: solid 1px rgb(241, 158, 55);
        border-radius: 5px;
       

    }
    .btn-1:hover{
        background-color: rgb(231, 170, 28);
        border-radius: 5px;
        border: solid 1px;
    }
    .btn{
        margin-left: 20px;
        background-color: rgb(255, 251, 251);
    }
    .btn-a{
        background-color: rgb(225, 138, 30);
    }
    
    .btn-showmore {
        text-decoration: none;
        background-color:rgb(248, 131, 15);
        color: rgb(255, 249, 249);
        margin-left: 720px;
        margin-top: 350px;
        margin-bottom: 380px;
        padding: 3px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 5px;
        
    }

    .btn-showmore:hover{
        background-color: rgb(90, 78, 78);
        color: aliceblue;
        border-radius: 5px;
        transition: 1s;
    }


    .flexbox{
        display: flex;
    }
    .big-pic{
        width: 1500px;
        margin-top: 70px;
    }
    .maine{
        color: red;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 40px;
         margin-left: 500px;
    }
    .new-name{
        margin-left: 230px;
    }
    .gim{
        background-color:#ffccb3;
    }
    