body{
    margin: 0;
    height: 53000px;
    
}
.search{
    margin-right: 2rem;
    display: flex;
    align-items: center;
}
.social-icons{
    background-color: #737373;
    width: 100%;
    
    display: flex;
   top: 0;
    position: sticky;
    
   
    
}
.navbar>:first-child{
    margin-right:auto ;
 }
.social-icons >:first-child{
    margin-right: auto;
}
.social{
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:10px;
    padding-bottom: 10px;
   
    
}
.social a{
    color: white;
    font-size: 25px;
    margin-left: 2rem;
}
.social a:hover{
    transform: scale(1.2);
}

.wishlist{
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-right: 2rem;
}
.wishlist a{
    color: white;
    font-size: 25px;
}
.wishlist a:hover{
    transform: scale(1.2);
}
.carting {
    display: flex;
    align-items: center;
    margin-right:2rem ;
}
.carting a{ 
    color: white;
    font-size: 25px;
}
.carting a:hover{ 
   transform: scale(1.2);
}
.sear{
    background-color:white;
    width: 92%;
    padding: 10px;
    border-radius:20px ;
    
  }

  .sear input{
    border: none;
    outline: none;
    font-size: 12px;
  }
  .sear button{
    border: none;
    background-color: transparent;
    font-size: 16px;
  }
  .signin{
    display: flex;
    align-items: center;
    margin-right:5rem ;
  }
  .signin a{
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
.navbar{
    width: 100%;
    background-color: #f2f2f2;
    height: 70px;
    display: flex;
    
    justify-content: center;
    

}
.logo{
    margin-left: 2%;
    width: 100%;
    background-image: url("../Media/logoptm.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 80px;
}
.navbar>:first-child{
   margin-right:auto ;
}
.navbar>:first-child{
   margin-left:10px;
}


.hov{
    width: 7%;
    padding-left: 2%;
    position: relative;
   
}

.btns{
    display: flex;
    justify-content: center;
    margin-top: 1.2rem;
    font-size:1rem;
    padding: 12px;
    width: 100%;
    background-color: transparent;
    border: none;
    color: black;
  
}
.drop{
    display: flex;
  display:none;
    width: 250%;
    flex-wrap: wrap;
    background-color: #e6e6e6;
    justify-content: center;
    transition: opacity 0.3s ease;
    position: relative;
    left: -50%;
    top: 5%;
    z-index: 10;
    


}

.drop a{
    
    color: black;
    width: 33%;
    font-size: 16px;
    margin-bottom: 5px;

}

.drop a:hover{
    opacity: 0.5;
    font-size: 16.5px;
}
.hov:hover .btns{
   color: white;
   
}
.hov:hover  .drop{
    display: block;
    display: flex;

}




.btns {
    position: relative;
    z-index: 1;
  }
  
  .btns::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100%;
    background-color: #737373;
    z-index: -1;
    transition: bottom 0.5s ease;
    
  }

  
  
  .btns:hover::before {
    bottom: 0;
    
  }
/* mobile */
.mob-nav{
   
    width: 100%;
    display: none;
    background-color:#f2f2f2;
    justify-content: space-between;
 

}
.menu-index{
    display: none;
}


  @media(max-width:576px){

    .social a{
        color: white;
        font-size: 15px;
     margin-left: 0.5rem;
    }
    .wishlist{
        display: flex;
        align-items: center;
        margin-left: rem;
        margin-right: 0.5rem;
    }
    .wishlist a{
        color: white;
        font-size: 15px;
    }

    .carting {
        display: flex;
        align-items: center;
        margin-right:0.5rem ;
    }
    .carting a{ 
        color: white;
        font-size: 15px;
    }

    .signin{
        display: flex;
        width: 10%;
        align-items: center;
        margin-right:0.5rem ;
      }
      .signin a{
        color: white;
        text-decoration: none;
        font-size: 12px;
      }

      .sear{
        background-color:white;
        width: 60%;
        padding: 2px;
        border-radius:10px ;
        
      }
    
      .sear input{
        border: none;
        outline: none;
        font-size: 12px;
        width: 70%;
      }
      .sear button{
        border: none;
        background-color: transparent;
        font-size: 12px;
      }

      .search{
        justify-content: end;
        margin-right: 0.5rem;
        display: flex;
        align-items: center;
    }
    .social-icons >:first-child{
        margin-right: auto;
    }

    .mob-nav{
        display: block;
       
    }
    .name{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar{
        display: none;
    }
    .logo{
        margin-left: 2%;
        
        width: 30%;
        background-image: url("../Media/logoptm.png");
        background-size: fill;
        background-repeat: no-repeat;
        position: relative;
        top: 0.5rem;

    }

    .hamburg:hover + .menu-index{
        display: block;
    }
    .mob-drop{
        display: flex;
        display: none;
        width: 60%;
        flex-wrap: wrap;
        background-color:rgb(255,255,255,0.3);
        justify-content: space-between;
        transition: opacity 0.3s ease;
        position: relative;
    }
    .mob-nav:hover .menu-index{
        display: block;
      
    }
    
    .mob-drop a{
       color: black;
        margin: 1%;
    }
    .btn{
        background-color: transparent;
   
        border: none;
        font-size: 1.5rem;
    }
    .btn:hover + .mob-drop{
        display: block;
        display: flex;
    }
  }
  @media(min-width:577px) and (max-width:780px){



    .social a{
        color: white;
        font-size: 15px;
     margin-left: 0.5rem;
    }
    .wishlist{
        display: flex;
        align-items: center;
        margin-left: rem;
        margin-right: 0.5rem;
    }
    .wishlist a{
        color: white;
        font-size: 15px;
    }

    .carting {
        display: flex;
        align-items: center;
        margin-right:0.5rem ;
    }
    .carting a{ 
        color: white;
        font-size: 15px;
    }

    .signin{
        display: flex;
        width: 10%;
        align-items: center;
        margin-right:0.5rem ;
      }
      .signin a{
        color: white;
        text-decoration: none;
        font-size: 12px;
      }

      .sear{
        background-color:white;
        width: 60%;
        padding: 2px;
        border-radius:10px ;
        
      }
    
      .sear input{
        border: none;
        outline: none;
        font-size: 12px;
        width: 70%;
      }
      .sear button{
        border: none;
        background-color: transparent;
        font-size: 12px;
      }

      .search{
        justify-content: end;
        margin-right: 0.5rem;
        display: flex;
        align-items: center;
    }
    .social-icons >:first-child{
        margin-right: auto;
    }

    .mob-nav{
        display: block;
       
    }
    .name{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar{
        display: none;
    }
    .logo{
        margin-left: 2%;
        
        width: 15%;
        background-image: url("../Media/logoptm.png");
        background-size: fill;
        background-repeat: no-repeat;
        position: relative;
        top: 0.5rem;
    }

    .hamburg:hover + .menu-index{
        display: block;
    }
    .mob-drop{
        display: flex;
        display: none;
        width: 60%;
        flex-wrap: wrap;
        background-color:rgb(255,255,255,0.3);
        justify-content: space-between;
        transition: opacity 0.3s ease;
        position: relative;
    }
    .mob-nav:hover .menu-index{
        display: block;
      
    }
    
    .mob-drop a{
      color: black;
        margin: 1%;
    }
    .btn{
        background-color: transparent;
        
        border: none;
        font-size: 1.5rem;
    }
    .btn:hover + .mob-drop{
        display: block;
        display: flex;
    }
  }


