.cardcontainer{
          width: 80% ;
          margin:auto;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          position: relative;

}
.card{
    width:30%;
    height: 430px;
    border: 2px solid wheat;
    margin-top: 30px;
    margin-bottom: 40px;
    position: relative;
}
.card:hover{
  box-shadow: 2px 2px 2px 2px black;
}
#card1{
    background-image: url("../Images/capsicum2.jpg");
   background-size: contain;
   background-repeat: no-repeat;
   position: relative;
}
#card2{
    background-image: url("../Images/brinjal2.jpg");
   background-size: contain;
   background-repeat: no-repeat;
   position: relative;
}
#card3{
    background-image: url("../Images/Carrot.jpg");
   background-size: contain;
   background-repeat: no-repeat;
   position: relative;
}
#card4{
    background-image: url("../Images/onion2.jpg");
   background-size: contain;
   background-repeat: no-repeat;
   position: relative;
}
#card5{
    background-image: url("../Images/potato2.jpg");
   background-size: contain;
   background-repeat: no-repeat;
   position: relative;
}
#card6{
    background-image: url("../Images/pumkin.jpg");
   background-size: contain;
   background-repeat: no-repeat;
   position: relative;
}
.offer{
    background-color: red;
    color:white;
    display: inline-block;
    border-radius: 20px;
    padding: 2px;
    position: absolute;
    top: 5%;
    left: 3%;
    box-shadow: 1px 1px 1px 1px darkred;

}
.card h2{
    text-align: center;
    position: relative;
    top: 43%;

}


.rate{
    margin-top: 170px;
    margin-left: 50px;
    height: 30px;
    width: 200px;
    padding-left: 5px;
    padding-right:5px;
  }
  .pg1{
    margin-left: 120px;
  
  }
  .pg2{
    margin-left: 30px;
    margin-top: 0px;
    margin-right: 10px;
    text-align: center;
  
  }
  .quntitybtn{
    margin-left: 30px;
    height:30px;
    width: 100px;
    border-radius: 5px;
    border: none;
    background-color: antiquewhite;
    
  
  }
  .quntitybtn:hover{
    background-color: #3bb300;
    transition: 0.5px;
  }
  .addbtn{
    margin-left: 10px;
    height:30px;
    width: 100px;
    border-radius: 5px;
    background-color: #e6e600;
    border:none;
  
  }
  .addbtn:hover{
    background-color: #99e600;
    transition: 0.5px;
  }

  .mainimage{
    height: 500px;
    width: 1200px;
    position: relative;
   
}
.btn{
    background-color:green;
    color: white;
    margin-top: 290px;
    margin-left: 79px;
    height: 50px;
    width: 115px;
    border-radius: 15px;
    padding: 5px;
}
.btn:hover{
    background-color:#99e600;
    transition:0.5px;
}
.conatiner{
    height: 500px;
    width: 100%;
    background-image:url(../Images/mainposter2.jpg);
    background-size: cover;
}
.text{
    color: #3bb300;
    text-align: center;

}
.btn2{
    display: inline-block;
    margin-left: 540px;
    position: relative;
    background-color: #99e600;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
}
.btn2:hover{
    background-color: #3bb300;
    transition: 0.5s;
}

.add{
  height: 400px;
  width: 100%;
 
  margin-top: 0px;
 
  border:none;
  box-shadow:2px 2px 2px 2px black;
  border-radius: 4px;
}
.imgadd{
  height: 400px;
  width: 100%;
}




 @media( max-width:576px){
  .text{
    color: #3bb300;
    text-align: center;
    width: 100%;
    margin-left: 430px;

}
.cardcontainer{
  width: 100% ;
  margin-left: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;

}
.card{
width: 40%;
height: 100px;
border: 2px solid wheat;
margin-top: 30px;
margin-bottom: 40px;
margin-left: 0px;
position: relative;
}
.card h2{
  margin: 50px;
  margin-bottom: 30px;
}
.rate{
  margin-left: 70px;
  position: relative;
  
}
.pg1{ 
  margin-left: 140px;

}
.conatiner{
  height: 150px;
  width: 90%;
}
.btn{
  position: relative;
  margin-top:150px;
    margin-left:10px;
    height: 25px;
    width:80px;
    border-radius: 15px;
    padding: 5px;
    font-size: 10px;

}

 }
  


